@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  outline: none;
  border: none;
  text-decoration: none;
}

:root {
  --black: rgb(18, 18, 18);
  --white: rgb(237, 237, 237);
  --white-transpant: rgba(255, 255, 255, 0.25);
  --white-transpant-0-05: rgba(255, 255, 255, 0.05);
  --bg-color: rgb(8, 27, 41);
  --second-bg-color: rgb(17, 46, 66);
  --text-color: rgb(237, 237, 237);
  --main-color: rgb(0, 171, 240);
  --main-color-transparent: rgba(11, 69, 90, 0.282);
  --second-bg-color-transparent: rgba(17, 46, 66, 0.5);
}

html {
  font-size: 60%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  position: relative;
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
  font-family: "Centra", sans-serif !important;
}

section {
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 20px;
}
.section-header-div {
  width: 100%;
  display: flex;
  justify-content: center;
}
.section-header {
  position: relative;
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;
  width: fit-content;
  --animation-seq: 1;
}
@media (max-width: 767px) {
  .section-header {
    font-size: 4.5rem;
  }
}
span {
  color: var(--main-color);
}

/************ Navbar Css ************/
nav.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  padding: 2rem 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.4s ease-in-out;
}
@media (max-width: 991px) {
  nav.navbar {
    background-color: var(--black);
  }
}
@media (max-width: 1199px) {
  nav.navbar {
    padding: 2rem 5%;
  }
}
nav.navbar.scrolled {
  background-color: var(--black);
}
nav.navbar a.navbar-brand {
  width: auto;
}
nav.navbar a.navbar-brand {
  font-size: 2.5rem;
  color: var(--white);
  font-weight: 600;
  position: relative;
  --animation-seq: 1;
}
nav.navbar .navbar-nav {
  position: relative;
  --animation-seq: 2;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: var(--white);
  letter-spacing: 0.8px;
  padding: 0.5rem 2.5rem;
  font-size: 1.8rem;
  opacity: 0.85;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
  color: var(--main-color);
}
span.navbar-text {
  display: flex;
  align-items: center;
}
.navbar-toggler {
  position: relative;
  --animation-seq: 2;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
nav.navbar .bx-menu,
.bx-x {
  width: auto;
  height: auto;
  vertical-align: middle;
  color: var(--white);
  font-size: 3rem;
}

/************ Banner Css ************/
.container {
  height: 100%;
}

.banner {
  margin-top: 0;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.banner h1 {
  font-size: 5.5rem;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.3;
  position: relative;
  --animation-seq: 2;
}

.banner .text-animate {
  position: relative;
  width: fit-content;
  --animation-style: ease-in-out;
}
.banner .text-animate h3 {
  margin-bottom: 0;
  font-size: 3.2rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 0.7px var(--main-color);
  letter-spacing: 0.8px;
  background-image: linear-gradient(var(--main-color), var(--main-color));
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: calc(var(--header-width) * -1) 0;
  animation: bannerBgText 6s var(--animation-style) infinite;
  animation-delay: 2s;
  --header-width: 301px;
  --animation-seq: 3;
}
.banner .text-animate h3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: var(--main-color);
  border-right: 2px solid var(--main-color);
  animation: bannerCursorText 6s var(--animation-style) infinite;
  animation-delay: 2s;
  z-index: -1;
}

@keyframes bannerBgText {
  0%,
  10%,
  100% {
    background-position: calc(var(--header-width) * -1) 0;
  }
  65%,
  85% {
    background-position: 0 0;
  }
}
@keyframes bannerCursorText {
  0%,
  10%,
  100% {
    width: 0;
  }
  65%,
  78%,
  85% {
    width: 100%;
    opacity: 1;
  }
  75%,
  81% {
    opacity: 0;
  }
}
.banner p {
  position: relative;
  color: #b8b8b8;
  font-size: 1.6rem;
  margin: 2rem 0 4rem;
  letter-spacing: 0.5px;
  width: 96%;
  --animation-seq: 4;
}
.btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 4rem;
  --animation-seq: 5;
}
.btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background: var(--main-color);
  border: 0.3rem solid var(--main-color);
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}
.btn-box .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  transition: 0.5s;
}
.btn-box .btn:hover {
  color: var(--main-color);
  border: 0.3rem solid var(--main-color);
}
.btn-box .btn:hover::before {
  width: 100%;
}
.banner .btn-box {
  width: fit-content;
}
.banner .social-icon-row {
}
.banner .social-icon {
  position: absolute;
  width: 145px;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  margin: 3rem 0;
  --animation-seq: 6;
}
.social-icon a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2.5rem;
  color: var(--main-color);
  z-index: 1;
  overflow: hidden;
  text-decoration: none;
  transition: 0.5s;
}
.social-icon a:hover {
  color: var(--bg-color);
}
.social-icon a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--main-color);
  z-index: -1;
  transition: 0.5s;
}
.social-icon a:hover::before {
  width: 100%;
}
.banner-img-container {
  position: relative;
  background-size: contain;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  --animation-seq: 7;
}
.banner-img-container img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 3rem;
}
.show-mobile-only {
  display: none;
}
.no-show-mobile {
  display: flex;
}
@media (max-width: 1199px) {
  .banner h1 {
    font-size: 4.8rem;
  }
  .banner .text-animate h3 {
    font-size: 2.8rem;
  }
  .banner p {
    margin: 2rem 0 2rem;
    font-size: 1.4rem;
  }
  .banner .btn-box {
    margin: 0 0 3rem;
  }
  .banner .social-icon {
    position: relative;
    margin: 0;
  }
  .banner .social-icon-row {
    /* margin: 2rem 0; */
  }
}
@media (max-width: 991px) {
  .banner h1 {
    font-size: 4.2rem;
  }

  .banner .text-animate h3 {
    font-size: 2.5rem;
  }

  .banner p {
    margin: 1rem 0 2rem;
  }

  .banner .btn-box {
    margin: 0 0 2rem;
  }

  .banner .btn-box .btn {
    font-size: 1.5rem;
  }

  .social-icon a {
    font-size: 2.2rem;
    padding: 1rem;
  }

  .banner .social-icon {
    width: 130px;
  }

  .banner-img-container {
    padding: 0;
  }
}
@media (max-width: 767px) {
  .banner-img-container {
    --animation-seq: 4;
  }
  .banner p {
    margin: 1rem 0 3rem;
    --animation-seq: 5;
  }
  .banner .btn-box {
    width: 100%;
    justify-content: center;
    margin: 0 0 3rem;
    --animation-seq: 6;
  }
  .banner .btn-box .btn {
    font-size: 1.8rem;
  }
  .social-icon-row {
    display: flex;
    justify-content: center;
  }
  .banner .social-icon {
    width: 147px;
    --animation-seq: 7;
  }
  .social-icon a {
    font-size: 2.5rem;
  }
  .show-mobile-only {
    display: flex;
    padding: 5% 10%;
  }
  .no-show-mobile {
    display: none;
  }
}
@media (max-width: 575px) {
  .banner.btn-box.btn {
  }
  .social-icon {
  }
}
@media (max-width: 460px) {
  .banner h1 {
    font-size: 3.3rem;
  }
}
@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

/************ Experience Css ************/
.experience {
  flex-direction: column;
  gap: 2rem;
  background-color: var(--second-bg-color);
  padding-bottom: 5rem;
}
.experience .experience-col-1,
.experience .experience-col-2 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.experience .experience-col-1 {
  padding-right: 1.5rem;
}
.experience .experience-col-2 {
  padding-left: 1.5rem;
}
.experience .title-div {
  width: 100%;
  margin: 0 0 1.5rem 2rem;
}
.experience .title {
  position: relative;
  font-size: 2.5rem;
  flex: 1;
  width: fit-content;
  /* --animation-seq: 2; */
}
.experience .experience-col-1 .title {
  --animation-seq: 2;
}
.experience .experience-col-2 .title {
  --animation-seq: 5;
}
.experience .experience-box {
  position: relative;
  border-left: 0.2rem solid var(--main-color);
}
.experience .experience-col-1 .experience-box {
  --animation-seq: 3;
}
.experience .experience-col-2 .experience-box {
  --animation-seq: 6;
}
.experience-box .experience-content {
  position: relative;
  padding-left: 2rem;
}
.experience-box .experience-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1.1rem;
  width: 2rem;
  height: 2rem;
  background: var(--main-color);
  border-radius: 50%;
}
.experience-content .content {
  position: relative;
  padding: 1.5rem;
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  margin-bottom: 2rem;
  overflow: hidden;
  z-index: 2;
}
.experience-content .content .year {
  font-size: 1.5rem;
  color: var(--main-color);
  padding-bottom: 0.5rem;
}
.experience-content .content .year i {
  padding-right: 0.5rem;
}
.experience-content-header {
  display: flex;
  align-items: center;
}
.experience-icon {
  width: 8rem;
}
.experience-icon img {
  width: 100%;
  padding-right: 10%;
}
.experience-titles-div {
  display: flex;
  flex-direction: column;
}
.experience-content .content h3 {
  font-size: 2.5rem;
}
.experience-content .content h4 {
  font-size: 2rem;
}
.experience-content .content p,
li {
  font-size: 1.6rem;
  padding-top: 0.5rem;
}
.experience-content .content ul {
  padding: 0.5rem;
  margin-left: 2rem;
}
@media (max-width: 575px) {
  .experience .col .title {
    font-size: 2.3rem;
  }
  .experience-content .content h3 {
    font-size: 2.3rem;
  }
  .experience-content .content h4 {
    font-size: 1.8rem;
  }
  .experience-content .content p,
  li {
    font-size: 1.4rem;
  }
}

/************ Projects Css ************/
.projects {
  flex-direction: column;
  gap: 2rem;
}
.projects .section-content {
  gap: 5rem;
}
.nav-pills-div {
  display: flex;
  justify-content: center;
}
.projects .nav.nav-pills {
  position: relative;
  width: 50%;
  border-radius: 15px;
  background-color: var(--second-bg-color-transparent);
  overflow: hidden;
  display: flex;
  padding-left: 0;
  padding-right: 0;
  border: 1px solid var(--white-transpant);
  --animation-seq: 2;
}
@media (max-width: 991px) {
  .projects .nav.nav-pills {
    width: 85%;
  }
}
.projects .nav.nav-pills .nav-item {
  flex: 1;
}
.projects .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 1.5rem 0;
  color: #fff;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.projects .nav.nav-pills .nav-link::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background: linear-gradient(#aa367c -5.91%, #4a2fbd 111.58%);
  /* background: transparent; */
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.projects .nav.nav-pills .nav-link.active::before {
  width: 100%;
  /* background: linear-gradient(#AA367C -5.91%, #4A2FBD 111.58%) */
}
.nav-link#projects-tabs-tab-1 {
  border-radius: 15px 0px 0px 15px;
}
.nav-link#projects-tabs-tab-2 {
  border-left: 1px solid var(--white-transpant);
  border-right: 1px solid var(--white-transpant);
}
.nav-link#projects-tabs-tab-3 {
  border-radius: 0 15px 15px 0;
}
.projects .nav.nav-pills .nav-link {
  /* border: 1px solid var(--white-transpant-color); */
}
.projects .tab-content {
  position: relative;
  --animation-seq: 3;
}
.proj-card-container {
  display: flex;
  justify-content: center;
}
.proj-card {
  position: relative;
  height: 100%;
  width: 100%;
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  height: 400px;
  margin-bottom: 25px;
  border-radius: 30px;
  border: 1px solid rgb(0, 0, 0, 0);
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
@media (max-width: 767px) {
  .proj-card {
    width: 80%;
  }
}
@media (max-width: 520px) {
  .proj-card {
    width: 100%;
  }
}
.proj-card .clickable {
  cursor: pointer;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: var(--main-color);
  font-size: 2.5rem;
}
.proj-imgbx {
  position: relative;
  border-radius: 30px 30px 0 0;
  overflow: hidden;
  width: 100%;
  height: 250px;
}
.proj-imgbx img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.proj-txtx {
  text-align: center;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.proj-txtx h4 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.8px;
}
.proj-card-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: var(--second-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
}
.proj-card-cover.visible {
  transform: translateY(0%);
}
.proj-tech {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  height: 300px;
  width: 100%;
  border-radius: 30px 30px 0 0;
  border-bottom: 1px solid var(--main-color);
  padding: 4rem 3rem;
}
.proj-tech h4 {
  flex: 1;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.proj-tech p {
  flex: 1;
  font-size: 1.6rem;
}
.proj-tech span {
  color: white;
  font-weight: bold;
}
.proj-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}
.proj-link a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 25px;
  color: var(--main-color);
  z-index: 1;
  overflow: hidden;
  text-decoration: none;
  transition: 0.5s;
}
.proj-link a:hover {
  color: var(--bg-color);
}
.proj-link a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--main-color);
  z-index: -1;
  transition: 0.5s;
}
.proj-link a:hover::before {
  width: 100%;
}
@media (max-width: 575px) {
  .projects .nav.nav-pills .nav-link {
    font-size: 1.8rem;
  }
  .proj-txtx h4 {
    font-size: 2.7rem;
  }
  .proj-tech h4 {
    font-size: 2.3rem;
  }
  .proj-tech p {
    font-size: 1.5rem;
  }
}
/************ Skills Css ************/
.skills {
  flex-direction: column;
  gap: 2rem;
  background-color: var(--second-bg-color);
}
.skills .skills-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills .skills-row {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.skills .skills-box {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--main-color);
  border-radius: 2rem;
  /* background-color: var(--white-transpant-0-05); */
  margin: 1.5rem;
  padding: 2rem;
  gap: 1rem;
}
.skills .skills-title {
  text-align: center;
  width: 100%;
  font-size: 2.7rem;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.skills .skills-content {
  text-align: center;
  width: 100%;
  font-size: 1.6rem;
  letter-spacing: 0.8px;
  line-height: 1.1em;
  display: flex;
  align-items: center;
}
.skills .skills-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
}
.skills .skills-icon {
  width: 8rem;
}
.skills .skills-label {
  font-size: 1.8rem;
  width: 100%;
  display: inline-flex;
  align-content: center;
  align-items: baseline;
  justify-content: center;
}
@media (max-width: 991px) {
  .skills .skills-box {
    flex: unset;
  }
}
@media (max-width: 575px) {
  .skills .skills-title {
    font-size: 2.5rem;
  }
  .skills .skills-label {
    font-size: 1.6rem;
  }
}

/************ Contact Css ************/
.contact .contact-container {
  display: flex;
  flex-direction: column;
}
.contact .hidden-when-mobile {
  display: none;
}
@media (min-width: 768px) {
  .contact .hidden-when-mobile {
    display: block;
  }
}
@media (min-width: 768px) {
  .contact-method-container {
    padding-bottom: 8rem;
  }
}
.contact .contact-method-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  --animation-seq: 4;
}
.contact .contact-method {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 3rem;
}
@media (min-width: 992px) {
  .contact .contact-method {
    padding-left: 16%;
  }
}
@media (min-width: 1200px) {
  .contact .contact-method {
    padding-left: 21%;
  }
}
@media (min-width: 1400px) {
  .contact .contact-method {
    padding-left: 25%;
  }
}
.contact .contact-method-icon {
  width: auto;
  height: auto;
  position: relative;
}
.contact .contact-method-text {
  display: flex;
  align-items: center;
}
.contact .contact-method-text p {
  font-size: 1.6rem;
  margin-bottom: 0;
}
.contact .contact-form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 1rem;
  --animation-seq: 6;
}
.contact .contact-form-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
}
.contact .contact-text-field {
  width: 100%;
}
@media (min-width: 768px) {
  .contact .contact-text-field {
    flex: 1;
  }
}
.contact .MuiInputBase-input {
  color: var(--white) !important;
}
.contact .MuiInputLabel-root {
  color: var(--white) !important;
}
.contact .MuiOutlinedInput-notchedOutline {
  border-color: var(--main-color) !important;
  border: 0.3rem solid var(--main-color);
}
.contact .btn-box .btn {
  width: auto;
}
.contact .gotop-icon {
  position: absolute;
  right: 4rem;
  bottom: 6rem;
  border: 0.3rem solid var(--main-color);
  border-radius: 0.8rem;
  overflow: hidden;
  --animation-seq: 8;
}
.contact .gotop-icon a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--main-color);
  text-decoration: none;
}
.contact .gotop-icon a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg-color);
  transition: 0.5s;
}
.contact .gotop-icon a:hover::before {
  width: 100%;
}
.contact .gotop-icon a i {
  font-size: 2.4rem;
  color: var(--bg-color);
  transition: 0.5s;
  z-index: 1;
}
.contact .gotop-icon a:hover i {
  color: var(--main-color);
  z-index: 1;
}

/************ Footer Css ************/
.footer {
  background-color: var(--black);
}
.footer-text {
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: center;
  align-items: center;
}
.footer-text p {
  font-size: 1.4rem;
  margin-bottom: 0;
  text-align: center;
}

/************ Animation and scroll ************/

.animate {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  z-index: 99;
  /* z-index: -1;
  background-color: var(--main-color);
  animation: animate 6s linear infinite; */
}
section:nth-child(odd) .animate {
  background: var(--second-bg-color);
}
/* .nav .scrolled .animate {
  background: var(--black);
} */
.experience .experience-box .animate {
  width: 103%;
}
.show-animate .animate {
  animation: showRight 1s ease forwards;
  animation-delay: calc(0.2s * var(--animation-seq));
}
@keyframes showRight {
  100% {
    width: 0;
  }
}
