@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  outline: none;
  border: none;
  text-decoration: none;
}

:root {
  --black: rgb(18, 18, 18);
  --grey: rgba(255, 255, 255, 0.25);
  --white: rgb(237, 237, 237);
  --bg-color: rgb(8, 27, 41);
  --second-bg-color: rgb(17, 46, 66);
  --text-color: rgb(237, 237, 237);
  --main-color: rgb(0, 171, 240);
  --main-color-transparent: rgba(11, 69, 90, 0.282);
  --second-bg-color-transparent: rgba(17, 46, 66, 0.5);
}

html {
  font-size: 60%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  position: relative;
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
  font-family: "Centra", sans-serif !important;
}

section {
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 20px;
}
.section-header {
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}
span {
  color: var(--main-color);
}
/************ Navbar Css ************/
nav.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  padding: 2rem 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.4s ease-in-out;
}
nav.navbar.scrolled {
  padding: 10px 0;
  background-color: var(--black);
}
nav.navbar a.navbar-brand {
  width: 9%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: var(--white);
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
  color: var(--main-color);
}
nav.navbar a.navbar-brand {
  font-size: 2.5rem;
  color: var(--white);
  font-weight: 600;
}
span.navbar-text {
  display: flex;
  align-items: center;
}

/************ Banner Css ************/
.container {
  height: 100%;
}

.banner {
  margin-top: 0;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner h1 {
  padding: 110px 0 0 0;
  font-size: 5.5rem;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.3;
  display: block;
}
.banner .text-animate {
  position: relative;
  width: 32.8rem;
}
.banner .text-animate h3 {
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--main-color);
  letter-spacing: 0.8px;
}
.banner p {
  color: #b8b8b8;
  font-size: 1.6rem;
  margin: 2rem 0 4rem;
  letter-spacing: 0.5px;
  width: 96%;
}
.btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 34.5rem;
  height: 5rem;
  margin: 2rem 0 4rem;
}
.btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
  background: var(--main-color);
  border: 0.3rem solid var(--main-color);
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}
.btn-box .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg-color);

  z-index: -1;
  transition: 0.5s;
}
.btn-box .btn:hover {
  color: var(--main-color);
  border: 0.3rem solid var(--main-color);
}
.btn-box .btn:hover::before {
  width: 100%;
}
.social-icon {
  position: relative;
  width: 145px;
  margin: 8rem 0 4rem;
  display: flex;
  justify-content: space-between;
}
.social-icon a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 25px;
  color: var(--main-color);
  z-index: 1;
  overflow: hidden;
  text-decoration: none;
  transition: 0.5s;
}
.social-icon a:hover {
  color: var(--bg-color);
}
.social-icon a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--main-color);
  z-index: -1;
  transition: 0.5s;
}
.social-icon a:hover::before {
  width: 100%;
}
.banner-img-container {
  background: url("./assets/img/banner/banner_img.jpg") no-repeat center center;
  background-size: contain;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-imgHover {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: transparent;
  transition: 0.5s;
}
.banner-imgHover:hover {
  background: var(--bg-color);
  opacity: 0.8;
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

/************ Experience Css ************/
.experience {
  flex-direction: column;
  gap: 2rem;
  background-color: var(--second-bg-color);
  padding-bottom: 5rem;
}
.experience .experience-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}
.col .title {
  font-size: 2.5rem;
  margin: 0 0 1.5rem 2rem;
}
.col .experience-box {
  border-left: 0.2rem solid var(--main-color);
}
.experience-box .experience-content {
  position: relative;
  padding-left: 2rem;
}
.experience-box .experience-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1.1rem;
  width: 2rem;
  height: 2rem;
  background: var(--main-color);
  border-radius: 50%;
}
.experience-content .content {
  position: relative;
  padding: 1.5rem;
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  margin-bottom: 2rem;
  overflow: hidden;
  z-index: 2;
}
.experience-content .content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--main-color-transparent);
  transition: 0.5s;
  z-index: -1;
}
.experience-content .content:hover::before {
  width: 100%;
}
.experience-content .content .year {
  font-size: 1.5rem;
  color: var(--main-color);
  padding-bottom: 0.5rem;
}
.experience-content .content .year i {
  padding-right: 0.5rem;
}
.hku-icon {
  background: url("./assets/img/experience/hku.png") no-repeat center center;
}
.sttss-icon {
  background: url("./assets/img/experience/sttss.png") no-repeat center center;
}
.sth-icon {
  background: url("./assets/img/experience/sth.png") no-repeat center center;
}
.moveit-icon {
  background: url("./assets/img/experience/moveit.png") no-repeat center center;
}
.pks-icon {
  background: url("./assets/img/experience/pks.png") no-repeat center center;
}
.hku-icon,
.sttss-icon,
.sth-icon,
.moveit-icon,
.pks-icon {
  background-size: contain;
  width: 100%;
  height: 100%;
}
.hku-title,
.sttss-title,
.sth-title,
.moveit-title,
.pks-title {
  flex: 13 13 !important;
}
.experience-content .content h3 {
  font-size: 2.5rem;
}
.experience-content .content h4 {
  font-size: 2rem;
}
.experience-content .content p,
li {
  font-size: 1.6rem;
  padding-top: 0.5rem;
}
.experience-content .content ul {
  padding: 0.5rem;
  margin-left: 2rem;
}

/************ Projects Css ************/
.projects {
  flex-direction: column;
  gap: 2rem;
}
.projects .nav.nav-pills {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 5rem;
  border-radius: 15px;
  background-color: var(--second-bg-color-transparent);
  overflow: hidden;
  display: flex;
  padding-left: 0;
  padding-right: 0;
  border: 1px solid var(--grey);
}
.projects .nav.nav-pills .nav-item {
  flex: 1;
}
.projects .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #fff;
  width: 100%;
  font-size: 2rem;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}
.projects .nav.nav-pills .nav-link::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background: linear-gradient(#aa367c -5.91%, #4a2fbd 111.58%);
  /* background: transparent; */
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.projects .nav.nav-pills .nav-link.active::before {
  width: 100%;
  /* background: linear-gradient(#AA367C -5.91%, #4A2FBD 111.58%) */
}
.nav-link#projects-tabs-tab-1 {
  border-radius: 15px 0px 0px 15px;
}
.nav-link#projects-tabs-tab-2 {
  border-left: 1px solid var(--grey);
  border-right: 1px solid var(--grey);
}
.nav-link#projects-tabs-tab-3 {
  border-radius: 0 15px 15px 0;
}
.projects .nav.nav-pills .nav-link {
  /* border: 1px solid var(--grey-color); */
}
.proj-card {
  position: relative;
  height: 100%;
  width: 100%;
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  height: 400px;
  margin-bottom: 25px;
  border-radius: 30px;
  border: 1px solid rgb(0, 0, 0, 0);
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.proj-card .clickable {
  cursor: pointer;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: var(--main-color);
  font-size: 2.5rem;
}
.proj-imgbx {
  position: relative;
  border-radius: 30px 30px 0 0;
  overflow: hidden;
  width: 100%;
  height: 250px;
}
.proj-imgbx img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.proj-txtx {
  text-align: center;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.proj-txtx h4 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.8px;
}
.proj-card-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: var(--second-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
}
.proj-card-cover.visible {
  transform: translateY(0%);
}
.proj-tech {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  height: 300px;
  width: 100%;
  border-radius: 30px 30px 0 0;
  border-bottom: 1px solid var(--main-color);
  padding: 4rem 3rem;
}
.proj-tech h4 {
  flex: 1;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.proj-tech p {
  flex: 1;
  font-size: 1.6rem;
}
.proj-tech span {
  color: white;
  font-weight: bold;
}
.proj-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}
.proj-link a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 25px;
  color: var(--main-color);
  z-index: 1;
  overflow: hidden;
  text-decoration: none;
  transition: 0.5s;
}
.proj-link a:hover {
  color: var(--bg-color);
}
.proj-link a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--main-color);
  z-index: -1;
  transition: 0.5s;
}
.proj-link a:hover::before {
  width: 100%;
}

/************ Skills Css ************/
.skills {
  flex-direction: column;
  gap: 2rem;
  background-color: var(--second-bg-color);
}
.skills .skills-row {
  /* gap: 2rem; */
}
.skills .skills-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--main-color);
  border-radius: 15px;
  background-color: var(--grey);
  margin: 2rem;
  padding: 2rem;
  gap: 1rem;
}
.skills .skills-title {
  text-align: center;
  width: 100%;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.skills .skills-content {
  text-align: center;
  width: 100%;
  font-size: 1.6rem;
  letter-spacing: 0.8px;
  line-height: 1.1em;
  display: flex;
  align-items: center;
}
.skills .skills-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.skills .skills-icon img {
  width: auto;
  max-height: 80px;
}
.skills .skills-label {
  font-size: 1.8rem;
}
